# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
env/
venv/
.venv/
*/bin/
*/lib/

# =========================
# YOLO / Training Outputs
# =========================
runs/
*.pt
*.onnx

# =========================
# Dataset (IMPORTANT)
# =========================
dataset/
datasets/

# =========================
# Logs & Cache
# =========================
.cache/
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.zip
*.tar
*.gz

README.md