# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/

# =========================
# YOLO / Training Outputs
# =========================
# Ignore ALL weights and model files
*.pt
*.onnx

# Ignore only weights folders (but keep other results)
**/weights/

# =========================
# Dataset (IMPORTANT)
# =========================
dataset/
datasets/

# =========================
# Logs & Cache
# =========================
.cache/
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.zip
*.tar
*.gz