# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
env/
venv/
.venv/

# =========================
# RCNN / YOLO Weights
# =========================
*.pt
*.pth

# =========================
# Dataset
# =========================
dataset/
datasets/

# =========================
# Results (keep only images)
# =========================
results/rcnn/predictions/*.jpg
!results/rcnn/predictions/

# =========================
# Cache & Logs
# =========================
.cache/
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db